*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

/* Header */
header {
    padding: 20px;
    text-align: center;
    background-color: rgb(216, 68, 10);
 }
 
 header nav ul li {
    display: inline;
    margin: 0 10px;
 }

 nav {
    text-align: center;
 }

 .topnav {
    padding: 20px;
 }

 .topnav a {
    text-decoration: none;
    color: white;
 }

 /* Content */
 main {
    display: flex;
    margin: 20px;
 }
 
 .content {
    background-color: rgb(251, 235, 5);
    flex: 3;
    padding: 20px;
    margin-right: 20px;
 }
 
 /* Sidebar */
 .sidebar {
    background-color: rgb(177, 227, 10);
    flex: 1;
    padding: 20px;
 }
 
 .sidebar a{
    text-decoration: none;
 }

 /* Footer */
 footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(202, 197, 207);
 }

 .isi-footer {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 isi-footer p {
    margin: 0;
 }